.button-contained {
    border-radius: 30px;
    color: $darkGreen;
    padding: 12px 20px;
    font-family: 'Sharp Grotesk Medium 20 Regular';
    font-size: 16px;
    background-color: $lightGreen;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    svg {
        margin-left: 10px;
        margin-bottom: -1.5px;
        transition: 0.1s;
    }

    &:hover {
        background-color: $darkGreen;
        color: $lightGreen;

        svg {
            color: $lightGreen;
        }
    }
}