@import './variables.scss';

@import './header.scss';
@import './button-contained.scss';
@import './navbar.scss';
@import './about-us.scss';
@import './services.scss';
@import './service-card.scss';
@import './references.scss';
@import './image-slider.scss';

*,
html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
}

main {
    width: 1380px;
    margin: 0 auto;
    padding-top: 10px;

    @media screen and (max-width: $tablet) {
        width: 98%;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}