.references {
    height: 706px;
    margin-top: 90px;
    background-color: rgba(245, 245, 245, 1);

    h1 {
        padding-top: 80px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Sharp Grotesk Medium 20 Regular";
        color: $black;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
    }
}