//Colors
$white: #fff;
$black: #000;
$lightGreen: rgba(177, 255, 164, 1);
$darkGreen: rgba(0, 73, 71, 1);
$overlay: rgba(0, 73, 71, 0.3);
$hoverLightGreen: rgb(233, 253, 230);

$boxShadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

//Breakpoints
$phone: 600px;
$tablet: 768px;
$desktop: 1200px;